<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="DELTA_WIDTH" value="200" />
      <add key ="FormImagePanelBoundRows" value="69,269;-1,-1" />
      <add key ="FormImagePanelBoundCols" value="100,500;-1,-1" />
    </appSettings>
</configuration>